.container {
  padding: 0;
}

.body {
  margin: 0;
}

.main {
  min-height: 100vh;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("/background.png");
  background-size: cover;
}

.titleWrapper{
  position: absolute;
  top: 35vh;
  left: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.title img {
  color: white;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

